@charset "utf-8";

/* basic reset */
.pen, .pen-menu, .pen-input{font:400 1.36em/1.45 Palatino, Optima, Georgia, serif;color:#331;}
.pen:focus{outline:none;}
.pen fieldset, img {border: 0;}
.pen blockquote{padding-left:10px;margin-left:-14px;border-left:4px solid #1abf89;}
.pen a{color:#1abf89;}
.pen del{text-decoration:line-through;}
.pen sub, .pen sup {font-size:75%;position:relative;vertical-align:text-top\9;}
:root .pen sub, :root .pen sup{vertical-align:baseline; /* for ie9 and other mordern browsers */}
.pen sup {top:-0.5em;}
.pen sub {bottom:-0.25em;}
.pen hr{border:none;border-bottom:1px solid #cfcfcf;margin-bottom:10px;*color:pink;*filter:chroma(color=pink);height:10px;*margin:-7px 0 2px;}
.pen small{font-size:0.8em;color:#888;}
.pen em, .pen b, .pen strong{font-weight:700;}

/* block-level element margin */
.pen p, .pen pre, .pen ul, .pen ol, .pen dl, .pen form, .pen hr, .pen table, .pen blockquote{margin-bottom:16px;}

/* headers */
.pen h1, .pen h2, .pen h3, .pen h4, .pen h5, .pen h6{margin-bottom:16px;font-weight:700;line-height:1.2;}
.pen h1{font-size:2em;}
.pen h2{font-size:1.8em;}
.pen h3{font-size:1.6em;}
.pen h4{font-size:1.4em;}
.pen h5, .pen h6{font-size:1.2em;}

/* list */
.pen ul, .pen ol{margin-left:1.2em;}
.pen ul, .pen-ul{list-style:disc;}
.pen ol, .pen-ol{list-style:decimal;}
.pen li ul, .pen li ol, .pen-ul ul, .pen-ul ol, .pen-ol ul, .pen-ol ol{margin:0 2em 0 1.2em;}
.pen li ul, .pen-ul ul, .pen-ol ul{list-style: circle;}

.pen-menu, .pen-input{font-size:14px;line-height:1;}
.pen-menu{
    box-shadow:1px 2px 3px -2px #222;background:#333; opacity:0.9;position:fixed;height:36px;border:1px solid #333;border-radius:3px;display:none;
    background-image: linear-gradient(top, rgb(34,34,34) 45%, rgb(51,51,51) 73%);
    background-image: -o-linear-gradient(top, rgb(34,34,34) 45%, rgb(51,51,51) 73%);
    background-image: -moz-linear-gradient(top, rgb(34,34,34) 45%, rgb(51,51,51) 73%);
    background-image: -webkit-linear-gradient(top, rgb(34,34,34) 45%, rgb(51,51,51) 73%);
    background-image: -ms-linear-gradient(top, rgb(34,34,34) 45%, rgb(51,51,51) 73%);

    background-image: -webkit-gradient(
	linear,
	left top,
	left bottom,
	color-stop(0.45, rgb(34,34,34)),
	color-stop(0.73, rgb(51,51,51))
    );
}
.pen-menu:after {top:100%;border:solid transparent;content:" ";height:0;width:0;position:absolute;pointer-events:none;}
.pen-menu:after {border-color:rgba(51, 51, 51, 0);border-top-color:#333;border-width:6px;left:50%;margin-left:-6px;}
.pen-icon{font:normal 900 16px/40px Georgia serif;min-width:20px;display:inline-block;padding:0 10px;height:36px;overflow:hidden;color:#fff;text-align:center;cursor:pointer;-moz-user-select:none;-webkit-user-select:none;-ms-user-select:none;user-select:none;}
.pen-icon:first-of-type{border-top-left-radius:3px;border-bottom-left-radius:3px;}
.pen-icon:last-of-type{border-top-right-radius:3px;border-bottom-right-radius:3px;}
.pen-icon:hover{background:#000;}
.pen-icon.active{color:#1abf89;background:#000;box-shadow:inset 2px 2px 4px #000;}
.pen-input{position:absolute;width:100%;left:0;top:0;height:36px;line-height:20px;background:#333;color:#fff;border:none;text-align:center;display:none;font-family:arial, sans-serif;}
.pen-input:focus{outline:none;}


@font-face {
    font-family: 'fontello';
    src: url('font/fontello.eot?53279403');
    src: url('font/fontello.eot?53279403#iefix') format('embedded-opentype'),
    url('font/fontello.woff?53279403') format('woff'),
    url('font/fontello.ttf?53279403') format('truetype'),
    url('font/fontello.svg?53279403#fontello') format('svg');
    font-weight: normal;
    font-style: normal;
}
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?53279403#fontello') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
     
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-location:before { content: '\e815'; } /* '' */
.icon-fit:before { content: '\e80f'; } /* '' */
.icon-bold:before { content: '\e805'; } /* '' */
.icon-italic:before { content: '\e806'; } /* '' */
.icon-justifyleft:before { content: '\e80a'; } /* '' */
.icon-justifycenter:before { content: '\e80b'; } /* '' */
.icon-justifyright:before { content: '\e80c'; } /* '' */
.icon-justifyfull:before { content: '\e80d'; } /* '' */
.icon-outdent:before { content: '\e800'; } /* '' */
.icon-indent:before { content: '\e801'; } /* '' */
.icon-mode:before { content: '\e813'; } /* '' */
.icon-fullscreen:before { content: '\e80e'; } /* '' */
.icon-insertunorderedlist:before { content: '\e802'; } /* '' */
.icon-insertorderedlist:before { content: '\e803'; } /* '' */
.icon-strikethrough:before { content: '\e807'; } /* '' */
.icon-underline:before { content: '\e804'; } /* '' */
.icon-blockquote:before { content: '\e814'; } /* '' */
.icon-undo:before { content: '\e817'; } /* '' */
.icon-code:before { content: '\e816'; } /* '' */
.icon-unlink:before { content: '\e811'; } /* '' */
.icon-superscript:before { content: '\e808'; } /* '' */
.icon-subscript:before { content: '\e809'; } /* '' */
.icon-inserthorizontalrule:before { content: '\e818'; } /* '' */
.icon-pin:before { content: '\e812'; } /* '' */
.icon-createlink:before { content: '\e810'; } /* '' */